web/WEB-INF/wsdl/localhost_8080/Ws_practica1/WebService_Practica1.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Practica/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Practica/">

<xs:element name="agregar_autor" type="tns:agregar_autor" />

<xs:element name="agregar_autorResponse" type="tns:agregar_autorResponse" />

<xs:element name="agregar_estudiante" type="tns:agregar_estudiante" />

<xs:element name="agregar_estudianteResponse" type="tns:agregar_estudianteResponse" />

<xs:element name="agregar_libro" type="tns:agregar_libro" />

<xs:element name="agregar_libroResponse" type="tns:agregar_libroResponse" />

<xs:complexType name="agregar_libro">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="no_ejemplar" type="xs:int" />
<xs:element name="paginas" type="xs:int" />
<xs:element name="tema" type="xs:string" minOccurs="0" />
<xs:element name="cod_autor" type="xs:int" />
<xs:element name="cod_estado" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar_libroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar_estudiante">
<xs:sequence>
<xs:element name="Dpi" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar_estudianteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar_autor">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="cod_tipo_autor" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar_autorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>